body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
}

div#title {
    font-size: 24px;
    font-weight: 700;
    color: #444;
    margin-bottom: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div#currentPhraseContainer,
div#currentApiKeyContainer {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

hr {
    width: 100%;
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}